<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxf.mapper.StudentsMapper">
    <insert id="InsertOneStudent">
        insert into students(student_id, student_name, class_name, sex, age)
        values ( #{studentId}, #{student_name}, #{class_name}
               , #{sex}, #{age})

    </insert>


    <select id="selectStudentsid" resultType="Students">
        SELECT *
        FROM students
    </select>
    <select id="selectStudentid" resultType="com.lxf.pojo.Students">
        select *
        from students
        where student_id = #{studentid}
    </select>

    <resultMap id="SelectStudentAllMap" type="students">
        <result column="student_id" property="studentId"/>

    </resultMap>

    <select id="SelectStudentAll" resultMap="SelectStudentAllMap">
        select *
        from students
        where student_id = #{id}
    </select>

    <select id="SelectStudentAllById" resultMap="SelectStudentAllMap">

        select *
        from students
        where student_id = #{studentId}
    </select>

    <select id="SelectDynamicStudent" resultMap="SelectStudentAllMap">

        select *
        from students
        <where>
            <if test="studentId != null">
                and student_id=#{studentId}
            </if>
        </where>

    </select>

</mapper>